<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
</head>
<body class="bg-light">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .slick-prev:before, .slick-next:before {
        color: black;
    }
    .slide-item {
        background-position: center;
        background-size: cover;
        margin: 0 20px !important;
    }
</style>

    <nav th:replace="fragments.html::nav"></nav>

    <header th:replace="fragments.html::header"></header>

    <div th:replace="fragments.html::userLoginRequestMessage"></div>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5 bg-dark bg-gradient">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Album example</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Main call to action</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row g-3">
                    <div id="slick-slide" class="">
                        <div class="slide-item" th:each="itemDto : ${itemDtoPage}">
                            <div class="card shadow-sm">
                                <img th:src="${'/uploadImage/s_' + itemDto.itemFileDtoList[0].fileName}">
                                <div class="card-body">
                                    <p class="card-text" th:text="${itemDto.itemFileDtoList[0].originalFileName}">파일명</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        // const OAuthLogin = {
        //     naver : function () {
        //         let url = "/oauth2/authorization/naver";
        //         let win = window.open(url, "NaverLogin", "width=500, height=500, scrollbars=yes, resizable=yes");
        //         win.focus();
        //     }
        // }
        $(document).ready(function () {
            $('#slick-slide').slick({
                // centerMode: true,
                dots: true,
                arrows: true,
                // infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                // autoplaySpeed: 2000,
                // variableWidth: true
                // variableHeight: true
            });
        });

    </script>
</body>
</html>