<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
</head>
<body class="bg-light">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .slick-prev:before, .slick-next:before {
        color: black;
    }

    .slide-item {
        background-position: center;
        background-size: cover;
        margin: 0 20px !important;
    }
    .item-category{
        margin-top: -2rem;
    }
</style>


<nav th:replace="fragments.html::nav"></nav>

<header th:replace="fragments.html::header"></header>

<div th:replace="fragments.html::userLoginRequestMessage"></div>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5 bg-dark bg-gradient">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">상품 목록</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <section class="item-detail">
        <div class="container">
            <div class="row bg-light">
                <div class="col-md-5">
                    <div class="item-category pb-2">
                        카테고리 >
                        <span th:text="${itemDto.categoryName}"></span>
                    </div>
                    <div id="slick-slide">
                        <div class="slide-item" th:each="itemFileDto : ${itemDto.itemFileDtoList}">
                            <div class="card shadow-sm">
                                <img th:src="${'/uploadImage/' + itemFileDto.fileName}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <!-- 상품 정보 나열 -->
                    <div class="ms-4">
                        <div class="border item-info">
                            <div>
                                <h1 th:text="${'상품명 : ' + itemDto.name}"></h1>
                            </div>
                            <div>
                                <h2 th:text="${'가격 : ' + itemDto.price}"></h2>

                            </div>
                            <!--                        <div>-->
                            <!--                            <h6 th:text="${'남은수량 : ' + itemDto.stockQuantity}"></h6>-->
                            <!--                        </div>-->
                            <div class="row border m-2">
                                <h5 th:text="${itemDto.name}">상품명</h5>
                                <div class="col">
                                    <a href="javascript:;" class="text-decoration-none" th:onclick="changeOrderQuantity(-1, 1, [(${itemDto.stockQuantity})])">
                                        <div th:replace="fragments.html::minusIcon"></div>
                                    </a>

                                    <input type="text" id="order-quantity" title="수량입력" value="1" th:onchange="changeOrderQuantity(0, 1, [(${itemDto.stockQuantity})])">
                                    <span class="d-none" id="price" th:text="${itemDto.price}"></span>
                                    <a href="javascript:;" class="text-decoration-none" th:onclick="changeOrderQuantity(1, 1, [(${itemDto.stockQuantity})])">
                                        <div th:replace="fragments.html::plusIcon"></div>
                                    </a>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <h5><strong id="order-price" th:text="${itemDto.price}"></strong>원</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--                        장바구니에 담기 버튼-->
                            <button type="button" class="btn btn-primary" th:onclick="addShoppingItem([(${itemDto.id})])">장바구니에 담기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $('#slick-slide').slick({
        // centerMode: true,
        dots: true,
        arrows: true,
        // infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000
        // variableWidth: true
        // variableHeight: true
    });

    function changeOrderQuantity(changeQuantity, minQuantity, maxQuantity) {
        let orderQuantity = $('#order-quantity');
        let orderPrice = $('#order-price');
        const price = $('#price').text();

        let quantity = parseInt(orderQuantity.val()) + changeQuantity;
        if (quantity < minQuantity) {
            quantity = minQuantity;
        } else if (quantity > maxQuantity) {
            quantity = maxQuantity;
            alert('최대 주문 수량은 ' + maxQuantity + '개 입니다.');
        }
        orderQuantity.val(quantity);
        orderPrice.text(quantity * price);
    }

    function addShoppingItem(itemId) {
        let orderQuantity = $('#order-quantity');
        let quantity = parseInt(orderQuantity.val());
        if (quantity < 1) {
            alert('최소 주문 수량은 1개 입니다.');
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/api/shoppingItem',
            data: JSON.stringify({
                "itemId": itemId,
                "quantity": quantity
            }),
            contentType: 'application/json; charset=utf-8',
        }).done(function (data) {
            if (data >= 1) {
                alert('장바구니에 담기 성공');
            } else {
                alert('장바구니에 담기 실패');
            }
        }).fail(function (error) {
            //TODO: 네이버 로그인을 새 창으로 띄워서 로그인을 하도록 구현하면 아래 코드 수정가능성 큼.
            console.log(error.responseText);
            if (error.responseText === 'ApiUnAuthorized'){
                window.location.href = '/redirectReferer';
            }
        });
    }
</script>
</body>
</html>