<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
</head>
<body class="bg-light">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .slick-prev:before, .slick-next:before {
        color: black;
    }

    .slide-item {
        background-position: center;
        background-size: cover;
        margin: 0 20px !important;
    }
    .item-category{
        margin-top: -2rem;
    }
</style>


<nav th:replace="fragments.html::nav"></nav>

<header th:replace="fragments.html::header"></header>

<div th:replace="fragments.html::userLoginRequestMessage"></div>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5 bg-dark bg-gradient">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">상품 목록</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <section class="item-detail">
        <div class="container">
            <div class="row bg-light">
                <div class="col-md-5">
                    <div class="item-category pb-2">
                        카테고리 >
                        <span th:text="${itemDto.categoryName}"></span>
                    </div>
                    <div id="slick-slide">
                        <div class="slide-item" th:each="itemFileDto : ${itemDto.itemFileDtoList}">
                            <div class="card shadow-sm">
                                <img th:src="${'/uploadImage/' + itemFileDto.fileName}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <!-- 상품 정보 나열 -->
                    <div class="ms-4">
                        <div class="border item-info">
                            <div>
                                <h1 th:text="${'상품명 : ' + itemDto.name}"></h1>
                            </div>
                            <div>
                                <h2 th:text="${'가격 : ' + itemDto.price}"></h2>
                                <span class="d-none" id="price" th:text="${itemDto.price}"></span>
                            </div>
                            <!--                        <div>-->
                            <!--                            <h6 th:text="${'남은수량 : ' + itemDto.stockQuantity}"></h6>-->
                            <!--                        </div>-->
                            <div class="row border m-2">
                                <h5 th:text="${itemDto.name}">상품명</h5>
                                <div class="col">
                                    <a href="javascript:;" class="text-decoration-none" th:onclick="changeOrderAmount(-1, 1, [(${itemDto.stockQuantity})])">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
                                            <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                        </svg>
                                    </a>

                                    <input type="text" id="order-amount" title="수량입력" value="1" th:onchange="changeOrderAmount(0, 1, [(${itemDto.stockQuantity})])">

                                    <a href="javascript:;" th:onclick="changeOrderAmount(1, 1, [(${itemDto.stockQuantity})])">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <h5><strong id="order-price" th:text="${itemDto.price}"></strong>원</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--                        장바구니에 담기 버튼-->
                            <button type="button" class="btn btn-primary" th:onclick="addShoppingItem([(${itemDto.id})])">장바구니에 담기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $('#slick-slide').slick({
        // centerMode: true,
        dots: true,
        arrows: true,
        // infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000
        // variableWidth: true
        // variableHeight: true
    });

    function changeOrderAmount(changeAmount, minAmount, maxAmount) {
        let orderAmount = $('#order-amount');
        let orderPrice = $('#order-price');
        const price = $('#price').text();

        let amount = parseInt(orderAmount.val()) + changeAmount;
        if (amount < minAmount) {
            amount = minAmount;
        } else if (amount > maxAmount) {
            amount = maxAmount;
            alert('최대 주문 수량은 ' + maxAmount + '개 입니다.');
        }
        orderAmount.val(amount);
        orderPrice.text(amount * price);
    }

    function addShoppingItem(itemId) {
        let orderAmount = $('#order-amount');
        let amount = parseInt(orderAmount.val());
        if (amount < 1) {
            alert('최소 주문 수량은 1개 입니다.');
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/api/ShoppingItem',
            data: JSON.stringify({
                itemId: itemId,
                amount: amount
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).done(function () {
            alert('장바구니에 상품이 담겼습니다.');
            location.href = '/cart';
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }
</script>
</body>
</html>